.container {
  max-width: 1200px;
  margin: 30px auto;
  background: #47464699;
}

.slider {
  width: 250px;
  height: 250px;

  border: 2px solid black;
  margin: 30px auto;
  overflow: hidden;
}

.slider-line {
  height: 250px;
  width: 750px;

  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.slider-line > img {
  width: 250px;
  height: 250px;
}

button {
  background: none;

  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
}
button:hover {
  background: greenyellow;
}
